<script src="Chart.min.js"></script>
<div>
    <canvas id="Chart"></canvas>
</div>

<script>
var ctx = document.getElementById('Chart').getContext('2d');
var data = {
	// The type of chart we want to create
	type: 'line',
	// The data for our dataset
	data: {
		labels: ["12.1", "12.2", "12.3", "12.4", "12.5", "12.6", "12.7"],
		datasets: [{
			label: "온도 변화",
			backgroundColor: 'rgb(255, 120, 132)',
			fill:false,
			borderColor: 'rgb(255, 128, 132)',
			lineTension:0.5, // 값을 높이면 line이 곡션 형태가 됨
			data: [12.1, 12.3, 10.5, 9.3, 8.2, 7.0, 6.0],
		}]
	},
	// Configuration options go here
	options: {}
}
var chart = new Chart(ctx, data);
</script>
