
<html>
<head>
<title>WEB LED Control</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style3 {
	background-color: #008000;
}
.auto-style6 {
	border-style: solid;
	border-color: #000000;
	text-align: center;
	color: #FFFFFF;
	background-color: #FF9900;
}
</style>
</head>
<body>
<center>
<strong><br>HOME IOT Service<br><br><br></strong>
<table style="width: 50%">
<tr>
  <td class="auto-style6" style="height: 81; width: 30%"><strong>
  <a href="led_control_act?led=1">LED 켜기</a></strong></td>
  <td class="auto-style1" style="height: 81; width: 50">&nbsp;</td>
  <td class="auto-style6" style="height: 81; width: 30%;"><strong>
  <a href="led_control_act?led=2">LED 끄기</a></strong></td>
</tr>
</table>
<strong><br>LED is {{ ret }}</strong>
</center>
</body>
</html>
